/*typos*/
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?58321406');
  src: url('../font/fontello.eot?58321406#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?58321406') format('woff2'),
       url('../font/fontello.woff?58321406') format('woff'),
       url('../font/fontello.ttf?58321406') format('truetype'),
       url('../font/fontello.svg?58321406#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-plus:before { content: '\e800'; } /* '' */
.icon-minus:before { content: '\e801'; } /* '' */
.icon-check:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-down-dir:before { content: '\e804'; } /* '' */
.icon-up-dir:before { content: '\e805'; } /* '' */
.icon-calendar:before { content: '\e806'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-youtube:before { content: '\f315'; } /* '' */

.main-header a,
.modal-content__container,
.modal-content__container input[type="text"]  {
  font-family: "PT Sans";
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
  font-size: 14px;
  text-decoration: none;
}
.intro h2,
.container.set-title p,
.result-item__text h3,
.promo input,
.modal-content__button-submit {
  font-size: 21px;
  font-family: "PT Sans";
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
}
.intro p {
  font-size: 14px;
  font-family: "PT Sans";
  text-transform: uppercase;
  line-height: 26px;
}
.reasons-item h3,
.features-item h3 {
  font-size: 21px;
  font-family: "PT Sans";
  font-weight: bold;
  text-transform: uppercase;
  line-height: 21px;
}
.reasons-item p,
.reasons-item .item-number,
.features-item p,
.footer-copyright,
.navigation-container label,
.range-filter__result-item,
.range-filter button,
.result-item__text-section p,
.result-item__rating span {
  font-size: 14px;
  font-family: "PT Sans";
  text-transform: uppercase;
  line-height: 21px;
}
.promo h2{
  font-size: 30px;
  font-family: "PT Sans";
  font-weight: bold;
  text-transform: uppercase;
  line-height: 24px;
}
.promo p{
  font-size: 14px;
  font-family: "PT Sans";
  text-transform: uppercase;
  line-height: 24px;
}
.footer-first {
  font-size: 21px;
  font-family: "PT Sans";
  font-weight: bold;
  text-transform: uppercase;
  line-height: 25px;
}
.navigation-container h2,
.range-filter h2 {
  font-size: 16px;
  font-family: "PT Sans";
  font-weight: bold;
  text-transform: uppercase;
  line-height: 21px;
}
.container.set-title ul {
  font-size: 12px;
  font-family: "PT Sans";
  text-transform: uppercase;
  line-height: 18px;
}
.result-item__text-section a {
  font-size: 14px;
  font-family: "PT Sans";
  font-weight: bold;
  text-transform: uppercase;
  line-height: 21px;
}
/* end typos*/

/*master*/
body {
  background-color: #f2f2f2;
}
.content {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}
.container {
  position: relative;
}
.welcome {
  height: 512px;
  background-color: #6f7b84;
}
.map {
  height: 594px;
}
.map iframe {
  width: 100%;
  height: 100%;
}
.main-footer {
  height: 120px;
  background: rgba(255, 255, 255, 0.9);
}
@media (min-width: 768px) {
  .content {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .content {
    width: 1200px;
  }
}
/*end master*/

/*main-header*/
.main-header .logo {
  display: block;
  width: 140px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 1;
  margin-left: -70px;
}
.main-header li {
  display: block;
  width: 20%;
  float: left;
  padding: 15px 0;
  text-align: center;
  list-style: none;
}
.main-header a {
  display: inline-block;
  max-width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #000000;
}
.main-header a:hover {
  color: #81b3d2;
}
.main-header a:active {
  color: #cacaca;
}
.main-header .active a {
  color: #766357;
}
/*end main-header*/

/*welcome*/
.welcome {
  background-image: url('../img/mask.png'), url('../img/welcome.png'),  url('../img/background.jpg');
  background-size: 100%, 458px, cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom, center, top;
}
/*end welcome*/

/*intro*/
.intro {
  padding: 62.5px 0 54px 0;
  text-align: center;
  color: #333333;
}
.intro h2 {
  margin-bottom: 31.5px;
  color: #000000;
}
/*end intro*/
/*reasons*/
.reasons-item {
  width: 33.333%;
  height: 256px;
  padding: 35px;
  padding-top: 50px;
  float: left;
  box-sizing: border-box;
  text-align: center;
  background-color: #eeeeee;
  color: #000000;
}
.reasons-item h3 {
  margin-bottom: 28.5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.reasons-item p {
  max-height: 42%;
  overflow: hidden;
}

.reasons-item .item-number {
  display: inline-block;
  position: relative;
  margin-bottom: 24px;
  padding-left: 15px;
  padding-right: 15px;
}
.item-number {
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.item-number::before, .item-number::after {
  display: block;
  content: '';
  width: 9px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  background-color: #000000;
}
.item-number::after {
  left: auto;
  right: 0;
}
.reasons-item.right {
  float: right;
}
.reasons-item.blue {
  background-color: #81b3d2;
  color: #ffffff;
}
.reasons-item.blue .item-number::before,
.reasons-item.blue .item-number::after {
  background-color: #ffffff;
}
.reasons-image {
  height: 256px;
  overflow: hidden;
  background-color: #a5907e;
  background-size: 100% 100%;
}
.reasons-image.first {
  background-image: url('../img/rightphoto.jpg');
}
.reasons-image.second {
  background-image: url('../img/leftphoto.jpg');
}
/*end resons*/

/*features*/
.features-item {
  height: 330px;
  width: 33.333%;
  float: left;
  padding: 45px;
  padding-top: 165px;
  box-sizing: border-box;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center 58px;
}
.features-item h3 {
  margin-bottom: 29.5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.features-item p {
  max-height: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.features-item.home {
  padding-left: 50px;
  padding-right: 50px;
  background-image: url('../img/icon-home.png');
}
.features-item.food {
  background-image: url('../img/icon-food.png');
}
.features-item.gift {
  background-image: url('../img/icon-gift.png');
}
/*end features*/
/*promo*/
.promo{
  position: relative;
  padding-top: 55px;
  padding-bottom: 135px;
  text-align: center;
}
.promo h2{
  margin-bottom: 36px;
}
.promo input {
  width: 568px;
  line-height: 86px;
  margin-left: -284px;
  position: absolute;
  left: 50%;
  bottom: 0;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #fff;
  background-color: #766357;
  outline: none;
  border: none;
  transition: color 0.3s, background-color 300ms linear;
}
.promo input:active {
  background-color: #604e43;
  color: rgba(255, 255, 255, 0.3);
}
.promo input:hover {
  background-color: #604e43;
}
/*end promo*/
/*footer*/
.footer-item {
  width: 33.333%;
  height: 120px;
  float: left;
  box-sizing: border-box;
  text-align: center;
}

.footer-first {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-top: 48px;
  color: #000000;
}
.footer-social {
  padding-top: 37px;
}
.social-btn {
  display: inline-block;
  vertical-align: middle;
  line-height: 48px;
  width: 48px;
  background-color: #81b3d2;
  font-family: "fontello";
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s, background-color 300ms linear;
}
.social-btn:hover {
  background-color: #669ec0;
}
.social-btn:active {
  background-color: #669ec0;
  color: rgba(255, 255, 255, 0.3);
}

.footer-copyright {
  padding-top: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/*end footer*/

/*modal content*/
.modal-content {
  width: 568px;
  position: absolute;
  left: 50%;
  bottom: 200px;
  margin-left: -284px;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}
.modal-content__container {
  padding: 55px;
  box-sizing: border-box;
  background-color: #fff;
}
.modal-content__container-internal {
  position: relative;
  margin-bottom: 30px;
  line-height: 38px;
  max-height: 38px;
  overflow: hidden;
}
.modal-content__input-date {
  width: 346px;
  height: 38px;
  float: right;
  padding-right: 9px;
  padding-left: 13px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  outline: none;
  text-overflow: ellipsis;
  overflow: hidden;
}
.modal-content__input-date:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}
.modal-content__input-date:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}
.modal-content__button-date {
  display: inline-block;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 1;
  cursor: pointer;
  background-color: transparent;
  font-family: "fontello";
  font-size: 20px;
  color: #c2c2c2;
  text-align: center;
  border: none;
  outline: none;
  transition: color 0.3s, background-color 300ms linear;
}
.modal-content__container button:hover {
  color: #000;
}
.modal-content__container button:active {
  color: #81b3d2;
}
.modal-content__container-controls {
  display: inline-block;
  height: 38px;
  width: 114px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}
.modal-content__container-controls.second {
  float: right;
}
.modal-content__container-controls span {
  display: inline-block;
  width: 38px;
  height: 38px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
.modal-content__container-internal-title {
  display: inline-block;
  max-height: 38px;
  width: 112px;
  margin-right: -3px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.modal-content__container-internal-title.second {
  width: 90px;
  margin-right: 0px;
  text-align: right;
}
.modal-content__button-counter {
  height: 38px;
  width: 38px;
  float: left;
  top: 4px;/*удалить*/
  right: 4px;/*удалить*/
  background-color: transparent;
  font-family: "fontello";
  font-size: 16px;
  color: #a9a9a9;
  text-align: center;
  border: none;
  outline: none;
  transition: color 0.3s, background-color 300ms linear;
}
.modal-content__button-counter.second {
  float: right;
}
.modal-content__button-submit {
  display: block;
  width: 100%;
  height: 58px;
  margin-top: 55px;
  border: none;
  color: #fff;
  background-color: #81b3d2;
  outline: none;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color 0.3s, background-color 300ms linear;
}
.modal-content__button-submit:active {
  background: #669ec0;
  color: rgba(255, 255, 255, 0.3);
}
.modal-content__button-submit:hover {
  background: #669ec0;
}
/*end modal content*/

/*utils*/
.clearfix:after {
  display: table;
  content: '';
  clear: both;
}
.outline {
  outline: 1px dashed black;
}

/*selection*/
.selection {
  height: 217px;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 27.5px;
  box-sizing: border-box;
  background-color: #6e7982;
}
.selection {
  background-image: url('../img/backgroundsecond.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  overflow: hidden;
}
.navigation-container{
  width: 155px;
  height: auto;
  float: left;
  box-sizing: border-box;
}
.navigation-container.first {
  margin-right: calc(3.47% + 58px);
}
.navigation-container h2 {
  margin-bottom: 25px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #ffffff;
}
.navigation-container li {
  margin-bottom: 20.5px;
}
.navigation-container label {
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #ffffff;
}
.navigation-container__list input[type = "checkbox"]{
  display: none;
}
.navigation-container__list input[type = "checkbox"] + label{
  display: inline-block;
  margin-right: 0px;
  font-size: 10px;
  line-height: 25px;
  cursor: pointer;
}
.navigation-container__list input[type = "checkbox"] + label:before{
  display: inline-block;
  width: 18px;
  height: 25px;
  vertical-align: middle;
  margin-right: 20px;
  font-family: "fontello";
  content: '\f096';
  font-size: 22px;
  transition: color 0.3s;
}
.navigation-container__list input[type = "checkbox"]:checked + label:before{
  display: inline-block;
  width: 18px;
  height: 25px;
  vertical-align: middle;
  margin-right: 20px;
  font-family: "fontello";
  content: '\e802';
  font-size: 22px;
}
.navigation-container__list input[type = "checkbox"] + label:hover:before{
  color: #81b3d2;
}
.navigation-container__list .locked input[type = "checkbox"] + label:before{
  color: #6a6a6a;
}
.range-filter{
  width: calc(27% + 43px);
  float: right;
}
.range-filter h2 {
  margin-left: 6px;
  margin-bottom: 10.5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #ffffff;
}
.range-filter__result {
  width: calc(88% + 23px);
  height: 32px;
  float: right;
  position: relative;
  margin-bottom: 4px;
  padding-top: 4.5px;
  overflow: hidden;
  border: 2px solid #ffffff;
  border-radius: 2px;
  box-sizing: border-box;
}
.range-filter__result::before {
  display: block;
  width: 2px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1px;
  margin-top: -11px;
  content: '';
  background-color: #ffffff;
}
.range-filter__result-item {
  float: left;
  width: 50%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  color: #ffffff;
}
.range-filter__controls{
  height: 36px;
  width: calc(88% + 23px);
  float: right;
  position: relative;
  margin-bottom: 16px;
  overflow: hidden;
}
.range-filter__controls .range-filter__controls-scale{
  height: 2px;
  margin-top: 16px;
  background: rgba(255,255,255,0.5);
}
.range-filter__controls .bar{
  height: 2px;
  background: #fff;
}
.range-filter__controls .range-filter__controls-toggle{
  width: 4px;
  height: 4px;
  position: absolute;
  top:8px;
  left:30px;
  border: 8px solid white;
  background: #928381;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-filter__controls .max-toggle{
  /*left: 210px;*/
  left: 63%;
  transition: background-color 300ms linear;
}
.range-filter__controls .max-toggle:hover{
  background-color: #000;

}
.range-filter__controls .min-toggle{
  left: 0px;
  transition: background-color 300ms linear;
}
.range-filter__controls .min-toggle:hover{
  background-color: #000;
}
.range-filter__submit-btn{
  display: block;
  width: 133px;
  height: 32px;
  margin: auto;
  padding-top: 3px;
  text-align: center;
  white-space: nowrap;
  background: transparent;
  outline: none;
  border: solid 2px #fff;
  border-radius: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #ffffff;
  transition: color 0.3s, background-color 300ms linear;
}
.range-filter__submit-btn:hover{
  background-color: #fff;
  color: #000;
}
/*end selection*/
/*set-title*/
.set-title {
  position: relative;
  height: 86px;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 33px;
  box-sizing: border-box;
  overflow: hidden;
}
.set-title p {
  width: 135px;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.set-title ul {
  width: auto;
  float: left;
  margin-left: 30px;
  margin-top: 5px;
}
.set-title li {
  min-width: 82px;
  float: left;
  cursor: default;
}
.set-title h3 {
  width: 115px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.set-title__button-li {
  display: inline-block;
  max-width: 80px;
  position: relative;
  color: #d2d2d2;
  background-color: transparent;
  outline: none;
  border: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color 0.3s;
}
.set-title__button-li:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-bottom: 1px dotted #81b3d2;
  transition: border 0.3s;
}
.set-title__button-li:hover {
  color:  #81b3d2;
}
.set-title__button-li:active {
  color:  #000;
}
.set-title__button-li:active::after {
  border-bottom:none;
}
.set-title .active span {
  color: #81b3d2;
}
.set-title .active span:after {
  border-bottom: none;
}
.set-title__button {
  width: 11px;
  float: right;
  margin-top: 5px;
  padding: 0;
  font-family: "fontello";
  font-size: 15px;
  border: none;
  color: #81b3d2;
  outline: none;
  background: none;
  transition: color 0.3s;
}
.set-title__button:disabled {
  color: #cccccc;
}
.set-title__button.first {
  margin-left: 12px;
}
.set-title__button:hover{
  color: #000;
}
.set-title__button:active{
  color: #81b3d2;
}
/*end set-title*/

/*result content*/
.result-item {
  height: 150px;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 30px;
  box-sizing: border-box;
}
.result-item__image {
  width: 135px;
  height: 90px;
  float: left;
  margin-right: 31px;
  overflow: hidden;
  background-size: 100% 100%;
  background-color: #9a8d8f;
}
.result-item__image.first {
  background-image: url('../img/photo1.jpg');
}
.result-item__image.second {
  background-image: url('../img/photo2.jpg');
}
.result-item__image.third {
  background-image: url('../img/photo3.jpg');
}
.result-item__text {
  float: left;
}
.result-item__text h3 {
  max-width: 300px;
  margin-top: -3px;
  margin-bottom: 7px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #000;
  cursor: pointer;
  transition: color 0.3s;
}
.result-item__text h3:hover {
  color: #81b3d2;
}
.result-item__text h3:active {
  color: #cacaca;
}
.result-item__text-section {
  float: left;
}
.result-item__text-section.first {
  margin-right: 20px;
}
.result-item__text-section a {
  display: inline-block;
  width: 142px;
  height: 27px;
  padding-top: 4px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #766357;
  color: #fff;
  transition: color 0.3s, background-color 300ms linear;
}
.result-item__text-section a:active {
  background-color: #604e43;
  color: rgba(255, 255, 255, 0.3);
}
.result-item__text-section a:hover {
  background-color: #604e43;
}
.result-item__text-section.first a {
  background-color: #81b3d2;
  width: 110px;
}
.result-item__text-section.first a:active {
  background: #669ec0;
  color: rgba(255, 255, 255, 0.3);
}
.result-item__text-section.first a:hover {
  background: #669ec0;
}
.result-item__text-section p {
  max-width: 140px;
  margin-bottom: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.result-item__text-section.first p {
  max-width: 110px;
}
.result-item__rating {
  overflow: hidden;
}
.result-item__rating p {
  text-align: right;
}
.result-item__rating span {
  overflow: hidden;
  text-overflow: ellipsis;
}
.result-item__rating-digit {
  display: inline-block;
  width: 110px;
  height: 27px;
  padding-top: 3px;
  text-align: center;
  white-space: nowrap;
  box-sizing: border-box;
  background-color: #f2f2f2;
  color: #727272;
}
.symbol {
  margin-bottom: 46px;
  font-family: "fontello";
  font-size: 17px;
  color: #81b3d2;
  word-spacing: 3px;
  white-space: nowrap;
}
/*end result content*/
/*utils*/
.set-devider{
  width: 100%;
  height: 1px;
  background: #e5e5e5;
}
/*end utils/
